*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url(images/bg-intro-desktop.png);
    background-color: #ff7f77;
}

main{
    display: flex;
    height: 100dvh;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    width: 50%;
    font-size: 3rem;
}

.p2{
    color: white;
    width: 65%;
    margin-left: 16%;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 11%;
    margin-right: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #5d54a3;
    border-radius: 7px;
    box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.288);
}

.test{
    color: white;
    font-size: 0.9rem;
}

form{
    position: relative;
    margin-right: 60px;
    display: flex;
    gap: 35px;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    height: auto;
    padding: 25px;
    border-radius: 10px;
}

input{
    position: relative;
    padding: 10px;
    padding-left: 20px;
    width: 27vw;
    border-radius: 4px;
    border: 1px solid gray;
}

.errorIcon{
    position: absolute;
    right: 50px;
    top: 36px;
    width: 20px;
    height: 20px;
    display: none;
}

input:focus {
  outline: 1px solid #7792cc;
}

.errorIcon2{
    position: absolute;
    right: 50px;
    top: 116px;
    width: 20px;
    height: 20px;
    display: none;
}

.errorIcon3{
    position: absolute;
    right: 50px;
    top: 195px;
    width: 20px;
    height: 20px;
    display: none;
}

.errorIcon4{
    position: absolute;
    right: 50px;
    bottom: 161px;
    width: 20px;
    height: 20px;
    display: none;
}

.cantBeEmptyFirstName{
    font-size: 0.6rem;
    position: absolute;
    right: 35px;
    top: 72px ;
    color: #e08d90ff;
    font-style: italic;
    display: none;
}

.cantBeEmptyLastName{
    font-size: 0.6rem;
    position: absolute;
    right: 35px;
    top: 150px ;
    color: #e08d90ff;
    font-style: italic;
    display: none;
}

.cantBeEmptyEmail{
    font-size: 0.6rem;
    position: absolute;
    right: 35px;
    top: 230px ;
    color: #e08d90ff;
    font-style: italic;
    display: none;

}

.cantBeEmptyPassword{
    font-size: 0.6rem;
    position: absolute;
    right: 35px;
    bottom: 132px ;
    color: #e08d90ff;
    font-style: italic;
    display: none;
}

input::placeholder{
    font-weight: bold;
    font-size: 0.8rem;
}

input.error::placeholder {
    color: transparent;
}

button{
    height: 40px;
    background-color: #37cc8a;
    border: 1px solid #33bf81;
    border-bottom: 3px solid #33bf81;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #77e2b4;
    border: 1px solid #6ccda2;
    border-bottom: 3px solid #6ccda2;
}

.click{
    font-size: 0.6rem;
    text-align: center;
    color: rgb(134, 132, 132);
    font-weight: 600;
}

span{
    color: #ff7f77;
}


@media only screen and (max-width: 850px){

main{
    display: flex;
    height: 100dvh;
    align-items: center;
}

h1{
    color: white;
    width: 60%;
    font-size: 3rem;
}

.p2{
    color: white;
    width: 65%;
    margin-left: 8%;
    margin-top: 25px;
}

.div1{
    height: 60px;
}

input{
    position: relative;
    padding: 10px;
    padding-left: 20px;
    width: 35vw;
    border-radius: 4px;
    border: 1px solid gray;
}

.errorIcon4{
    position: absolute;
    right: 50px;
    bottom: 175px;
    width: 20px;
    height: 20px;
    display: none;


}


.cantBeEmptyPassword{
    font-size: 0.6rem;
    position: absolute;
    right: 35px;
    bottom: 145px ;
    color: #e08d90ff;
    font-style: italic;
    display: none;
}

}


@media only screen and (max-width: 500px){
   main{
    display: flex;
    min-height: 100vh;   
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 5px;
}

   h1{
    width: 90%;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
} 

.p2{
    width: 80%;
    margin-left: 0%;
    text-align: center;
}

.sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    margin-top: 13%;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 85vw;
    margin-left: 0px;
    background-color: #5d54a3;
    border-radius: 7px;
    box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.288);
}

.test{
    color: white;
    font-size: 0.9rem;
    width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 85vw;
    height: 500px;
    margin-right: 0px;
}

input{
    padding: 15px;
    width: 70vw;
    border-radius: 4px;
    border: 1px solid gray;
}

button{
    height: 50px;
    background-color: #37cc8a;
    border: 1px solid rgb(39, 121, 66);
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 70vw;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.errorIcon{
  position: absolute;
  right: 15px;
  top: 16px;
  width: 20px;
  height: 20px;
  display: none;
}

.errorIcon2{
  position: absolute;
  right: 15px;
  top: 16px;
  width: 20px;
  height: 20px;
  display: none;
}

.errorIcon3{
  position: absolute;
  right: 15px;
  top: 16px;
  width: 20px;
  height: 20px;
  display: none;
}

.errorIcon4{
  position: absolute;
  right: 15px;
  top: 16px;
  width: 20px;
  height: 20px;
  display: none;
}

.cantBeEmptyFirstName{
   font-size: 0.6rem;
  color: #e08d90ff;
  font-style: italic;
  text-align: right;
  margin-top: -13px;
  display: none;
}

.cantBeEmptyLastName{
  position: absolute;
   font-size: 0.6rem;
  color: #e08d90ff;
  font-style: italic;
  text-align: right;
  top: 58px;
 display: none;

}

.cantBeEmptyEmail{
  position: absolute;
   font-size: 0.6rem;
  color: #e08d90ff;
  font-style: italic;
  text-align: right;
  top: 58px;
}

.cantBeEmptyPassword{
    font-size: 0.6rem;
    position: absolute;
    right: 35px;
    bottom: -18px ;
    color: #e08d90ff;
    font-style: italic;
    display: none;
}

}
